body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebarLink a.chosen{
  background: #1875f021;
  border-left: 3px solid #1875F0 !important;
  border: 1px solid #1875F0;
}

.sidebarLink a:hover{
  /* background: #f8f8fa; */
  background: #1875f021;
  box-shadow: 2px 2px 2px grey
}

tbody{
  background-color: white !important;
  border:none !important
}

table, td{
  border:none !important;
  border-bottom: 1px solid #CCCFD4 !important;
  padding: 25px 15px !important;
  font-family: 'Segoe UI' !important;
  font-style: regular;
  font-size: 14px;
}

th{
  border:none !important;
  padding: 10px !important;
  font-family: 'Segoe UI' !important;
  font-style: regular;
  font-size: 14px;
}

thead{
  border:none !important;
  background-color: #EAEEF0 !important;
  color: #7F8FA4 !important;
}

.pagination{
  float: right !important;
}

